apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pimcore.fullname" . }}-maintenance-shell-init
  labels:
    {{- include "pimcore.labels" . | nindent 4 }}
data:
  entrypoint.sh: |
{{ tpl (.Files.Get "files/maintenance-scripts/entrypoint.sh") . | indent 4 }}

  maint-login-merge.sh: |
{{ tpl (.Files.Get "files/maintenance-scripts/maint-login-merge.sh") . | indent 4 }}

  # External launcher
  maint-shell.sh: |
{{ tpl (.Files.Get "files/maintenance-scripts/maint-shell.sh") . | indent 4 }}

  maint-cache-reset.sh: |
{{ tpl (.Files.Get "files/maintenance-scripts/maint-cache-reset.sh") . | indent 4 }}

  maint-graphql-cache-reset.sh: |
{{ tpl (.Files.Get "files/maintenance-scripts/maint-graphql-cache-reset.sh") . | indent 4 }}

  maint-db-import.sh: |
{{ tpl (.Files.Get "files/maintenance-scripts/maint-db-import.sh") . | indent 4 }}

  maint-list-db-backups.sh: |
{{ tpl (.Files.Get "files/maintenance-scripts/maint-list-db-backups.sh") . | indent 4 }}

  maint-help: |
{{ tpl (.Files.Get "files/maintenance-scripts/maint-help") . | indent 4 }}
